html,
body {
  height: 100%;
}

body {
}

.login-iframe-container {

}

iframe {
  border: none;
}
.login-btn {
  padding: 5px 15px;
}
.contain {
  padding: 0 24px;
  max-width: 1180px;
  margin: 0 auto;
}

.login-iframe-container iframe {
  width: 1px;
  min-width: 100%;
}

.header {
  border-bottom: 1px solid rgba(234, 236, 237, 1);
  height: 71px;
  line-height: 71px;
}

.footer {
  border-top: 1px solid rgba(234, 236, 237, 1);
  height: 84px;
  line-height: 84px;
  clear: both;
}

.left-col {
  width: 418px;
  float: left;
}

.right-col {
  width: 738px;
  float: right;
}

@media (min-width: 768px) {
  .login-iframe-container {
    /* width: 700px; */
  }
}
